SoundFile==0.10.3.post1
tensorflow_datasets==4.4.0
nltk==3.6.6
numpy>=1.19.5
sentencepiece==0.1.96
tqdm==4.62.1
librosa==0.8.1
PyYAML==5.4.1
Pillow==9.0.1
black==21.7b0
flake8==3.9.2
sounddevice==0.4.3
fire==0.4.0

# extra=tf2.5
tensorflow~=2.5
tensorflow-text~=2.5
tensorflow-io~=0.18

# extra=tf2.5-gpu
tensorflow-gpu~=2.5
tensorflow-text~=2.5
tensorflow-io~=0.18

# extra=tf2.6
tensorflow~=2.6
tensorflow-text~=2.6
tensorflow-io~=0.20

# extra=tf2.6-gpu
tensorflow-gpu~=2.6
tensorflow-text~=2.6
tensorflow-io~=0.20

# extra=tf2.7
tensorflow~=2.7
tensorflow-text~=2.7
tensorflow-io~=0.23

# extra=tf2.7-gpu
tensorflow-gpu~=2.7
tensorflow-text~=2.7
tensorflow-io~=0.23

# extra=tf2.8
tensorflow~=2.8
tensorflow-text~=2.8
tensorflow-io~=0.24

# extra=tf2.8-gpu
tensorflow-gpu~=2.8
tensorflow-text~=2.8
tensorflow-io~=0.24