tensorflow~=2.18.0
tensorflow-text @ https://github.com/sun1638650145/Libraries-and-Extensions-for-TensorFlow-for-Apple-Silicon/releases/download/v2.18/tensorflow_text-2.18.1-cp312-cp312-macosx_11_0_arm64.whl