{% import "examples/configs/librispeech/characters/char.yml.j2" as decoder_config with context %}
{{decoder_config}}

model_config:
  class_name: tensorflow_asr.models.ctc>DeepSpeech2
  config:
    name: deepspeech2
    speech_config:
      sample_rate: 16000
      frame_ms: 25
      stride_ms: 10
      num_feature_bins: 128
      feature_type: spectrogram
    conv_type: conv1d
    conv_kernels: [5, 5, 5]
    conv_strides: [1, 1, 2]
    conv_filters: [512, 512, 512]
    conv_dropout: 0.1
    conv_padding: causal
    rnn_nlayers: 2
    rnn_type: lstm
    rnn_bn_type: bn
    rnn_units: 512
    rnn_bidirectional: False
    rnn_unroll: False
    rnn_rowconv: 0
    rnn_dropout: 0.1
    fc_nlayers: 1
    fc_units: 1024
    fc_dropout: 0.1
    blank: 0
    vocab_size: {{decoder_config.vocabsize}}

learning_config:
  optimizer_config:
    class_name: Custom>AdamW
    config:
      learning_rate: 0.001
      weight_decay: 1e-3
      beta_1: 0.9
      beta_2: 0.98
      epsilon: 1e-9

  running_config:
    batch_size: 8
    num_epochs: 300
    checkpoint:
      filepath: {{modeldir}}/checkpoints/{epoch:02d}.h5
      save_best_only: False
      save_weights_only: True
      save_freq: epoch
    backup_and_restore:
      backup_dir: {{modeldir}}/states
      save_freq: epoch
      delete_checkpoint: False
    tensorboard:
      log_dir: {{modeldir}}/tensorboard
      histogram_freq: 1
      write_graph: False
      write_images: False
      update_freq: epoch
      profile_batch: 100

