{# # Copyright 2020 Huy Le Nguyen (@nglehuy)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License. #}

{% set repodir = "." %}
{% set modeldir = "E:/Miscellanea/Models/local/transformer-ctc" %}
{% set datadir = "E:/MLDL/Datasets/ASR/LibriSpeech" %}

speech_config:
  sample_rate: 16000
  frame_ms: 25
  stride_ms: 10
  num_feature_bins: 80
  feature_type: log_mel_spectrogram

{# {% include "examples/configs/wp.yml.j2" %} #}
{% include "examples/configs/wp_whitespace.yml.j2" %}
{# {% include "examples/configs/sp.yml.j2" %}
{% include "examples/configs/sp_whitespace.yml.j2" %}
{% include "examples/configs/char.yml.j2" %} #}

model_config:
  class_name: tensorflow_asr.models.ctc>Transformer
  config:
    name: transformer
    encoder_subsampling:
      type: conv2d
      nlayers: 2
      filters: 512
      kernel_size: 3
      strides: 2
      padding: causal
      norm: none
      activation: relu
    encoder_dropout: 0.1
    encoder_residual_factor: 1.0
    encoder_norm_position: post
    encoder_dmodel: 512
    encoder_dff: 1024
    encoder_num_blocks: 6
    encoder_head_size: 128
    encoder_num_heads: 4
    encoder_mha_type: relmha
    encoder_interleave_relpe: True
    encoder_use_attention_causal_mask: False
    encoder_use_attention_auto_mask: True
    encoder_pwffn_activation: relu
    encoder_memory_length: 512
    vocab_size: {{vocabsize}}

learning_config:
  train_dataset_config:
    enabled: True
    augmentation_config:
      feature_augment:
        time_masking:
          prob: 1.0
          num_masks: 5
          mask_factor: 100
          p_upperbound: 0.05
        freq_masking:
          prob: 1.0
          num_masks: 1
          mask_factor: 27
    data_paths:
      - {{datadir}}/dev-clean/transcripts.tsv
    tfrecords_dir: null
    shuffle: True
    cache: True
    buffer_size: 100
    drop_remainder: True
    stage: train
    metadata: {{repodir}}/vocabularies/librispeech/wordpiece/train_{{vocabsize}}.metadata.json

  eval_dataset_config:
    enabled: False
    data_paths:
      - {{datadir}}/dev-clean/transcripts.tsv
    tfrecords_dir: null
    shuffle: False
    cache: True
    buffer_size: 100
    drop_remainder: True
    stage: eval
    metadata: {{repodir}}/vocabularies/librispeech/wordpiece/train_{{vocabsize}}.metadata.json

  test_dataset_config:
    data_paths:
      - {{datadir}}/test-clean/transcripts.tsv
    tfrecords_dir: null
    shuffle: False
    cache: True
    buffer_size: 100
    drop_remainder: False
    stage: test

  optimizer_config:
    class_name: adam
    config:
      learning_rate:
        class_name: tensorflow_asr.optimizers.schedules>TransformerSchedule
        config:
          dmodel: 512
          warmup_steps: 10000
          max_lr: null
          min_lr: 1e-6
      beta_1: 0.9
      beta_2: 0.98
      epsilon: 1e-9

  running_config:
    batch_size: 2
    num_epochs: 100
    checkpoint:
      filepath: {{modeldir}}/checkpoints/{epoch:02d}.h5
      save_best_only: False
      save_weights_only: True
      save_freq: epoch
    backup_and_restore:
      backup_dir: {{modeldir}}/states
      save_freq: epoch
      delete_checkpoint: False
    tensorboard:
      log_dir: {{modeldir}}/tensorboard
      histogram_freq: 1
      write_graph: True
      write_images: True
      update_freq: epoch
      profile_batch: 2
