{% import "examples/configs/librispeech/characters/char.yml.j2" as decoder_config with context %}
{{decoder_config}}

model_config:
  class_name: tensorflow_asr.models.ctc.conformer>Conformer
  config:
    name: conformer
    speech_config:
      sample_rate: 16000
      frame_ms: 25
      stride_ms: 10
      num_feature_bins: 80
      feature_type: log_mel_spectrogram
      augmentation_config:
        feature_augment:
          time_masking:
            prob: 1.0
            num_masks: 5
            mask_factor: -1 # whole utterance
            p_upperbound: 0.05
            mask_value: 0
          freq_masking:
            prob: 1.0
            num_masks: 1
            mask_factor: 27
            mask_value: 0
    encoder_subsampling:
      class_name: tensorflow_asr.models.layers.subsampling>Conv2dSubsampling
      config:
        filters: [176, 176]
        kernels: [3, 3]
        strides: [2, 2]
        paddings: ["causal", "causal"]
        norms: ["batch", "batch"]
        activations: ["swish", "swish"]
    encoder_ffm_residual_factor: 0.5
    encoder_mhsam_residual_factor: 1.0
    encoder_convm_residual_factor: 1.0
    encoder_dmodel: 176
    encoder_num_blocks: 16
    encoder_head_size: 44 # == dmodel // num_heads
    encoder_num_heads: 4
    encoder_mha_type: relmha
    encoder_interleave_relpe: True
    encoder_use_attention_causal_mask: False
    encoder_use_attention_auto_mask: True
    encoder_mhsam_use_attention_bias: True
    encoder_kernel_size: 32
    encoder_dropout: 0.1
    encoder_padding: causal
    encoder_memory_length: null
    blank: 0
    vocab_size: {{decoder_config.vocabsize}}
    kernel_regularizer:
      class_name: l2
      config:
        l2: 1e-6
    bias_regularizer:
      class_name: l2
      config:
        l2: 1e-6

learning_config:
  optimizer_config:
    class_name: Custom>Adam
    config:
      learning_rate:
        class_name: tensorflow_asr.optimizers.schedules>TransformerSchedule
        config:
          dmodel: 176
          warmup_steps: 10000
          max_lr: 0.02/(176**0.5)
          min_lr: 1e-6
          scale: 2.0
      beta_1: 0.9
      beta_2: 0.98
      epsilon: 1e-9
      weight_decay: 1e-6

  gwn_config: null

  gradn_config: null

  batch_size: 8
  ga_steps: 4
  num_epochs: 450

  callbacks:
    - class_name: tensorflow_asr.callbacks>TerminateOnNaN
      config: {}
    - class_name: tensorflow_asr.callbacks>ModelCheckpoint
      config:
        filepath: {{modeldir}}/checkpoints/{epoch:02d}.h5
        save_best_only: False
        save_weights_only: True
        save_freq: epoch
    - class_name: tensorflow_asr.callbacks>BackupAndRestore
      config:
        backup_dir: {{modeldir}}/states
        save_freq: epoch
        delete_checkpoint: False
    - class_name: tensorflow_asr.callbacks>TensorBoard
      config:
        log_dir: {{modeldir}}/tensorboard
        histogram_freq: 0
        write_graph: False
        write_images: False
        write_steps_per_second: False
        update_freq: batch
        profile_batch: 0