{% import "examples/configs/librispeech/sentencepiece/sp.yml.j2" as decoder_config with context %}
{{decoder_config}}

model_config:
  class_name: tensorflow_asr.models.ctc>Conformer
  config:
    name: conformer
    speech_config:
      sample_rate: 16000
      frame_ms: 25
      stride_ms: 10
      num_feature_bins: 80
      feature_type: log_mel_spectrogram
      augmentation_config:
        feature_augment:
          time_masking:
            prob: 1.0
            num_masks: 5
            mask_factor: 100
            p_upperbound: 0.05
          freq_masking:
            prob: 1.0
            num_masks: 1
            mask_factor: 27
    encoder_subsampling:
      type: conv2d
      filters: 144
      nlayers: 2
      kernel_size: 3
      strides: 2
      padding: causal
      norm: none
      activation: relu
    encoder_ffm_residual_factor: 0.5
    encoder_mhsam_residual_factor: 1.0
    encoder_convm_residual_factor: 1.0
    encoder_dmodel: 144
    encoder_num_blocks: 16
    encoder_head_size: 36 # == dmodel // num_heads
    encoder_num_heads: 4
    encoder_mha_type: relmha
    encoder_interleave_relpe: True
    encoder_use_attention_causal_mask: False
    encoder_use_attention_auto_mask: True
    encoder_kernel_size: 32
    encoder_dropout: 0.1
    encoder_padding: causal
    encoder_memory_length: null
    blank: 0
    vocab_size: {{decoder_config.vocabsize}}
    kernel_regularizer: null
    bias_regularizer: null

learning_config:
  optimizer_config:
    class_name: Custom>AdamW
    config:
      learning_rate:
        class_name: tensorflow_asr.optimizers.schedules>TransformerSchedule
        config:
          dmodel: 144
          warmup_steps: 10000
          max_lr: null
          min_lr: 1e-6
      weight_decay: 1e-3
      beta_1: 0.9
      beta_2: 0.98
      epsilon: 1e-9
  
  gwn_config: null

  gradn_config:
    class_name: tensorflow_asr.optimizers.regularizers>TimeDependentGaussianGradientNoise
    config:
      mean: 0.0
      eta: 1.0
      gamma: 0.55

  running_config:
    batch_size: 4
    num_epochs: 100
    checkpoint:
      filepath: {{modeldir}}/checkpoints/{epoch:02d}.h5
      save_best_only: False
      save_weights_only: True
      save_freq: epoch
    backup_and_restore:
      backup_dir: {{modeldir}}/states
      save_freq: epoch
      delete_checkpoint: False
    tensorboard:
      log_dir: {{modeldir}}/tensorboard
      histogram_freq: 1
      write_graph: False
      write_images: False
      update_freq: epoch
      profile_batch: 100
