{% set modeldir = "/mnt/Miscellanea/Models/local/jasper" %}
{% set datadir = "/mnt/Data/MLDL/Datasets/ASR/LibriSpeech" %}

{# {% import "examples/configs/librispeech/wp.yml.j2" as decoder_config with context %} #}
{% import "examples/configs/librispeech/wp_whitespace.yml.j2" as decoder_config with context %}
{# {% import "examples/configs/librispeech/sp.yml.j2" as decoder_config with context %} #}
{# {% import "examples/configs/librispeech/char.yml.j2" as decoder_config with context %} #}

speech_config:
  sample_rate: 16000
  frame_ms: 25
  stride_ms: 10
  num_feature_bins: 80
  feature_type: log_mel_spectrogram

{{decoder_config}}

model_config:
  class_name: tensorflow_asr.models.ctc>Jasper
  config:
    name: jasper
    dense: True
    first_additional_block_channels: 256
    first_additional_block_kernels: 11
    first_additional_block_strides: 2
    first_additional_block_dilation: 1
    first_additional_block_dropout: 0.2
    nsubblocks: 3
    block_channels: [256, 384, 512, 640, 768]
    block_kernels: [11, 13, 17, 21, 25]
    block_dropout: [0.2, 0.2, 0.2, 0.3, 0.3]
    second_additional_block_channels: 896
    second_additional_block_kernels: 1
    second_additional_block_strides: 1
    second_additional_block_dilation: 2
    second_additional_block_dropout: 0.4
    third_additional_block_channels: 1024
    third_additional_block_kernels: 1
    third_additional_block_strides: 1
    third_additional_block_dilation: 1
    third_additional_block_dropout: 0.4
    vocab_size: {{decoder_config.vocabsize}}

learning_config:
  train_dataset_config:
    enabled: True
    augmentation_config:
      feature_augment:
        time_masking:
          prob: 0.5
          num_masks: 10
          mask_factor: 100
          p_upperbound: 0.05
        freq_masking:
          prob: 0.5
          num_masks: 1
          mask_factor: 27
    data_paths:
      - {{datadir}}/train-clean-100/transcripts.tsv
    tfrecords_dir: null
    shuffle: True
    cache: True
    buffer_size: 1000
    drop_remainder: False
    stage: train
    metadata: {{decoder_config.metadata}}

  eval_dataset_config:
    enabled: False
    data_paths:
      - {{datadir}}/dev-clean/transcripts.tsv
    tfrecords_dir: null
    shuffle: False
    cache: True
    buffer_size: 100
    drop_remainder: True
    stage: eval
    metadata: {{decoder_config.metadata}}

  test_dataset_config:
    enabled: False
    data_paths:
      - {{datadir}}/test-clean/transcripts.tsv
    tfrecords_dir: null
    shuffle: False
    cache: True
    buffer_size: 100
    drop_remainder: True
    stage: test

  optimizer_config:
    class_name: adam
    config:
      learning_rate:
        class_name: tensorflow_asr.optimizers.schedules>TransformerSchedule
        config:
          dmodel: 512
          warmup_steps: 10000
          max_lr: null
          min_lr: 1e-6
      beta_1: 0.9
      beta_2: 0.98
      epsilon: 1e-9

  running_config:
    batch_size: 2
    num_epochs: 100
    checkpoint:
      filepath: {{modeldir}}/checkpoints/{epoch:02d}.h5
      save_best_only: False
      save_weights_only: True
      save_freq: epoch
    backup_and_restore:
      backup_dir: {{modeldir}}/states
      save_freq: epoch
      delete_checkpoint: False
    tensorboard:
      log_dir: {{modeldir}}/tensorboard
      histogram_freq: 1
      write_graph: True
      write_images: True
      update_freq: epoch
      profile_batch: 2

