data_config:
  test_dataset_configs:
    - name: test-clean
      enabled: True
      sample_rate: 16000
      data_paths:
        - {{datadir}}/test-clean/transcripts.tsv
      tfrecords_dir: {{datadir}}/tfrecords
      shuffle: False
      cache: False
      buffer_size: null
      drop_remainder: False
      stage: test
      indefinite: False
    - name: test-other
      enabled: True
      sample_rate: 16000
      data_paths:
        - {{datadir}}/test-other/transcripts.tsv
      tfrecords_dir: {{datadir}}/tfrecords
      shuffle: False
      cache: False
      buffer_size: null
      drop_remainder: False
      stage: test
      indefinite: False