data_config:  
  train_dataset_config:
    enabled: True
    sample_rate: 16000
    data_paths:
      - {{datadir}}/train-clean-100/transcripts.tsv
      - {{datadir}}/train-clean-360/transcripts.tsv
      - {{datadir}}/train-other-500/transcripts.tsv
    tfrecords_dir: null
    tfrecords_shards: 32
    shuffle: True
    cache: True
    buffer_size: 1024
    drop_remainder: True
    stage: train
    metadata: {{decoder_config.metadata}}
    indefinite: True

  eval_dataset_config:
    enabled: True
    sample_rate: 16000
    data_paths:
      - {{datadir}}/dev-clean/transcripts.tsv
      - {{datadir}}/dev-other/transcripts.tsv
    tfrecords_dir: null
    buffer_size: 1024
    tfrecords_shards: 2
    shuffle: True
    cache: True
    drop_remainder: True
    stage: eval
    metadata: {{decoder_config.metadata}}
    indefinite: True